.film-details {
  width: @ntfx-layout__container-main;
  margin: auto;
  padding-bottom: 70px;

  .film-image {
    background: @ntfx-color__grey-tundora;
    display: inline-block;
    height: 500px;
    width: calc(~'33.3% - 50px');
  }

  .film-description {
    background: @ntfx-color__grey-tundora;
    display: inline-block;
    margin-left: 70px;
    min-height: 500px;
    width: 50%;
  }
}
