.filter-area {
  background: @ntfx-color__grey-wild-sand;
  font-size: 18px;
  height: 70px;

  .filter-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: auto;
    width: @ntfx-layout__container-head;

    .total-found,
    .filter {
      align-self: center;
    }
  }
}
