// Imports
@import './components/App';
@import './components/header/Header';
@import './components/footer/Footer';
@import './components/search-bar/SearchBar';
@import './components/filter/Filter';
@import './components/films-list/FilmsList';
@import './components/film-item/FilmItem';
@import './components/film-details/FilmDetails';
@import './components/no-result/NoResult';
@import './font/Ubuntu';

// Color variables
@ntfx-color__pink: #f55263;
@ntfx-color__gray: #7e7e7e;
@ntfx-color__gray-mine-shaft: #3c3c3c;
@ntfx-color__gray-wild-sand: #f5f5f5;
@ntfx-color__gray-tundora: #414141;
@ntfx-color__gray-alto: #d3d3d3;
@ntfx-color__white: #ffffff;
@ntfx-color__black: #000000;
@ntfx-color__green-willow: #a5cf79;

// Layout variables
@ntfx-layout__container-head: 1100px;
@ntfx-layout__container-main: 1250px;

// Mixins
.button(@padding-vertical, @padding-horizontal, @color: @ntfx-color__white) {
  border: none;
  border-radius: 3px;
  color: @color;
  font-family: 'Ubuntu';
  font-weight: 600;
  padding: @padding-vertical @padding-horizontal;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
