// Imports
@import './components/App';
@import './components/header/Header';
@import './components/footer/Footer';
@import './components/search-bar/SearchBar';
@import './components/filter/Filter';
@import './components/films-list/FilmsList';

// Color variables
@ntfx-color__pink: #f55263;
@ntfx-color__grey-mine-shaft: #3c3c3c;
@ntfx-color__grey-wild-sand: #f5f5f5;
@ntfx-color__grey-tundora: #414141;
@ntfx-color__white: #ffffff;

// Layout variables
@ntfx-layout__container-head: 1100px;
@ntfx-layout__container-main: 1250px;
